# MongoDB Configuration
MONGODB_URL=mongodb+srv://bhoyarps_db_user:nnByyQU9VL5H80Yx@cluster0.9lulrxj.mongodb.net/?appName=Cluster0
DATABASE_NAME=ScamShield

# Gemini AI Configuration
GOOGLE_API_KEY=AIzaSyBf08AX2RIu6B24t3ZYol2cEO4xIUZiCcY

SERPAPI_API_KEY=a06ab01cf224e95b916c94f389e9fed0a6b2dc48a33053a84f9ef01278dbe106